<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Under Construction</title>
    <link rel="stylesheet" href="/css/UnderConstruction.css">
</head>
<body>
    
<div class="main-wrapper">
    <div class="const-msg-container">
        <div class="const-msg">
            <div class="gears">
                <svg class="svg-icon svg-icon-large" 
               </svg>
            </div>
            <div class="text">
                <div class="under-text text-right font-size-xl color-primary bg-color-white padding-h-2x padding-v-1x text-uppercase">Under</div>
                <div class="const-text text-uppercase font-size-xl font-w-10 color-white">Construction</div>
            </div>
            
        </div>
    </div>
</div>
</body>
</html>