@{
    ViewData["Title"] = "Buildings";
    Layout = "_LoggedLayout";
}
<div class="main-cards">
    <div class="card">
        <h2>Metal Station</h2>
        <img src="/OtherFiles/Pictures/Buildings/Metal Station.jpg">
        <p>
            Metal Station Current Level: 5
        </p>
        <p>
            Metal Station Next Level: 6
        </p>
        <p>
            &emsp; Metal Station 8 hours income: 12323434256
        </p>
        <button type="button" class="btn btn-secondary">Upgrade</button>
        <button type="button" class="btn-secondary">Upgrade</button>
    </div>
    <div class="card">
        <h2>Crystal Station</h2>
        <img src="/OtherFiles/Pictures/Buildings/Crystal Station.jpg">
        <p>
            Metal Station Current Level: 5
        </p>
        <p>
            Metal Station Next Level: 6
        </p>
        <p>
            &emsp; Metal Station 8 hours income:  &emsp; &emsp; 12323434256
        </p>
    </div>
    <div class="card">
        <h2>Gas Station</h2>
        <img src="/OtherFiles/Pictures/Buildings/Gas Station.jpg">
        <p>
            Metal Station Current Level: 5
        </p>
        <p>
            Metal Station Next Level: 6
        </p>
        <p>
            &emsp; Metal Station 8 hours income:  &emsp; &emsp; 12323434256
        </p>
    </div>
</div>
