@{
    ViewData["Title"] = "Information";
    Layout = "_LoggedLayout";
}
<div class="main-cards">
    <div class="card">
        <h2>Metal Station</h2>
        <img src="/OtherFiles/Pictures/Buildings/Metal Station.jpg">
        <p>
            Metal station has been design to extrat Metal from Earth's core.
        <p />
        <p>
            This is the place where you generate Metal incomes.
            Depending on the level, with increasing Metal station level
            you increase your income.
        </p>

    </div>
    <div class="card">
        <h2>Crystal Station</h2>
        <img src="/OtherFiles/Pictures/Buildings/Crystal Station.jpg">
        <p>
            Crystal station has been design to drill in to big chunks of rocks
            and separate rock from the Crystal.
        </p>
        <p>
            This is the place where you generate Crystal incomes.
            Depending on the level, with increasing Crystal station level
            your increase your income.
        </p>
    </div>
    <div class="card">
        <h2>Gas Station</h2>
        <img src="/OtherFiles/Pictures/Buildings/Gas Station.jpg">
        <p>
            Gas station has been design to drill in to Earth's crust and
            sucks all gas deposits generated in the past million years.
        </p>
        <p>
            This is the place where you generate Gas incomes.
            Depending on the level, with increasing Gas station level
            your increase your income.
        </p>
    </div>
