@{
    ViewData["Title"] = "Information";
    Layout = "_LoggedLayout";
}
<div class="main-cards">
    <div class="card">
        Metal Station
        <img src="/OtherFiles/Pictures/Buildings/Metal Station.jpg">
        <p>
            Metal station has been design to extrat Metal from the Earth core.
        <p />
        <p>
            This is the place where you generate Metal incomes.
            Depending on the level, with increasing Metal station level
            you increase your income.
        </p>

    </div>
    <div class="card">
        Crystal Station
        <img src="/OtherFiles/Pictures/Buildings/Crystal Station.jpg">
        <p>
            Crystal station has been design to drill in to big chunks of rocks
            and separate rock from the Crystal.
        </p>
        <p>
            This is the place where you generate Crystal incomes.
            Depending on the level, with increasing Crystal station level
            your increase your income.
        </p>
    </div>
    <div class="card">
        Gas Station
        <img src="/OtherFiles/Pictures/Buildings/Gas Station.jpg">
        <p>
            Gas station has been design to drill in to Earth's crust and
            sucks all gas deposits generated in the past millio years.
        </p>
        <p>

            This is the place where you generate Gas incomes.
            Depending on the level, with increasing Gas station level
            your increase your income.
        </p>
    </div>
    @*<div class="card">
        Gold
        <img src="/OtherFiles/Pictures/Resources/Gold.png" alt="Gold" width="200" height="200">
        <p>
            The only way to earn gold is to Quests and sell items you don't need.
        </p>
        Dark Matter
        <img src="/OtherFiles/Pictures/Resources/Darkmatter.png" alt="Dark matter" width="180" height="150">
        <p>
            The only way to earn Dark Matter is to purchase via InShop
        </p>
    </div>
</div>*@