@model StarsFighters.Web.ViewModels.Account.AccountInformationViewModel
@{
    ViewData["Title"] = "Account - Information";
    Layout = "_LoggedLayout";
}

<h3>Account Information.</h3>
<p>Account User: @Model.UserName</p>
<p>Account Level: @Model.Level</p>
<p>Account Xp: @Model.Experience</p>
<p>Account Email: @Model.Email</p>
