@{
    ViewData["Title"] = "Contact";
    Layout = "_LoggedLayout";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/ContactForm.css">
</head>
<body>
    <div class="container">
        <form action="/action_page.php">
            <label for="email">Email</label>
            <input type="text" id="email" name="emailAddress" placeholder="Your Email..">

            <label for="account">Account</label>
            <input type="text" id="account" name="accountName" placeholder="Your Account..">

            <label for="about">About</label>
            <input type="text" id="about" name="aboutWhat" placeholder="About..">


            <textarea id="subject" name="subject" placeholder="Write something.." style="height:300px"></textarea>

            <input type="submit" value="Submit">
        </form>
    </div>

</body>
</html>