@model StarsFighters.Web.ViewModels.ContactForm.ContactFormViewModel;
@{
    ViewData["Title"] = "Contact";
    Layout = "_LoggedLayout";
    //Layout = "_Layout";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/ContactForm.css">
    @*<link rel="stylesheet" href="/css/bootstrap.min.css">*@
</head>
<body>

    <div class="container">
        <form id="contact" action="" method="post">
            <div asp-validation-summary="All"></div>
            <h3>Quick Contact</h3>
            <h4>Contact us for: Bugs, Problems, Suggestions or any other subject you like.</h4>
            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="Your Email" type="email" tabindex="1" required autofocus>
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <input asp-for="Account" class="form-control" placeholder="Your Account name" type="text" tabindex="2" required>
                <span asp-validation-for="Account"></span>
            </div>
            <div class="form-group">
                <input asp-for="About" class="form-control" placeholder="What is about" type="text" tabindex="3" required>
                <span asp-validation-for="About"></span>
            </div>
            <fieldset>
                <textarea asp-for="Subject" class="form-control" placeholder="Type your Message Here...." tabindex="5" required></textarea>
                <span asp-validation-for="Subject"></span>
            </fieldset>
            <fieldset>
                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
                @*<input  type="submit" class="btn btn-primary"/>*@
            </fieldset>
        </form>
        <p>Feel free to contact for anythink.</p>

    </div>
</body>
</html>
