*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;

}

.header{
    width: 100%;
    height: 90px;
    display: block;
    background-image: linear-gradient(to right, rgb(15, 15, 4), rgb(0, 140, 255));
}
.innear_header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
   

}
.logo_container{
    
    height: 100%;
    display: table;
    float: left;

}
.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Luckiest Guy', cursive;
    font-size: 32px;
    font-weight: 200;
}

.logo_container h1 span{
    font-weight: 800;
    color: teal;
}

.navigation {
    float: right;
    height: 100%;
}

.navigation a:last-child{
    padding-right: 1;
}
a:hover
{
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0.00s;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;

}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}




