.main-cards {
    display: inline-block;
    /*background-color:#31d3d3;*/
 
    color: cyan;
}

.card {
    color: #3fe08c;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

@media only screen and (min-width: 65.625em) {
    /*Break out main cards into two columns */
    .main-cards {
        column-count: 4;
    }
}
