@model StarsFighters.Web.ViewModels.Account.AccountResourcesInformationViewModel
@*@using 
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<link rel="stylesheet" href="~/css/bootstrap.css"/>*@
    <link rel="stylesheet" href="/css/_LoggedLayout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>StarsFighters</title>
</head>

<body>
    <div class="grid-container">
        <header class="header">
            <div class="navbar">
                <div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @*<a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign out</a>*@
                        <a class="nav-link text-dark" asp-area="Identity" asp-controller="/Pages/Account" asp-action="Logout"><i class="fa fa-fw fa-user"></i> Logout</a>
                        @*<a class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>*@
                        @*<form method="post" asp-area="Identity" asp-controller="Account" aspcontroller="Logout">
                                <input type="submit" value="Logout" />
                            </form>*@

                    }
                    @*<a class="nav-link text-dark" asp-area="" asp-controller="LoggedIn" asp-action="ContactForm"><i class="fa fa fa-sign-out-alt"></i> Logout</a>*@
                    <a class="nav-link text-dark" asp-area="Identity" asp-controller="Account" asp-action="Manage"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="LoggedIn" asp-action="Achievements"><i class="fa fa-fw fa-trophy"></i> Achievements</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="LoggedIn" asp-action="ContactForm"><i class="fa fa-fw fa-envelope"></i> Contact</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Achievements" asp-action="Create"><i class="fa fa-fw fa-envelope"></i> Create Achievement</a>
                    <a class="nav-link text-dark" asp-area="" asp-controller="Quest" asp-action="CreateQuest"><i class="fa fa-fw fa-envelope"></i> Create Quest</a>
                </div>

        </header>

        <div class="sidenav">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Home"><i class="fa fa-globe" aria-hidden="true"></i> Home</a>
            <a class="nav-link text-dark" asp-area="" asp-controller="LoggedIn" asp-action="AccountInformation" />AccountInfo</a>
            <a href="#clients">Clients</a>
            <a href="#contact">Contact</a>
            <button class="dropdown-btn">Buildings<i class="fa fa-caret-down"></i></button>
            <div class="dropdown-container">
                <a class="nav-link text-dark" asp-area="" asp-controller="Buildings" asp-action="Buildings">Upgrades</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Buildings" asp-action="Information">Information</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Buildings" asp-action="Research">Research</a>
            </div>
            <button class="dropdown-btn">Ship<i class="fa fa-caret-down"></i></button>
            <div class="dropdown-container">
                <a class="nav-link text-dark" asp-area="" asp-controller="Ship" asp-action="ShipDeck">Ship Deck</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Ship" asp-action="ShipUpgrades">Upgrades</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Ship" asp-action="ShipResearch">Research</a>
            </div>
            <a href="#contact">Search</a>
        </div>

        <main class="main">
            <h1></h1>
            <div class="main-header">
                <div class="main-header__heading">Metal:@*@Model.Metal*@</div>
                <span>
                    <img src="/OtherFiles/Pictures/Resources/MetalBar.png" width="50" height="50" style="position:fixed;left:265px;bottom:785px;z-index:999">
                </span>
                <div class="main-header__heading">Crystals:@*@Model.Minerals*@</div>
                <span>
                    <img src="/OtherFiles/Pictures/Resources/Crystals2.png" width="50" height="50" style="position:fixed;left:530px;bottom:785px;z-index:999">
                </span>
                <div class="main-header__updates">Gas:@*@Model.Gas*@*</div>
                <span>
                    <img src="/OtherFiles//Pictures//Resources/Gas.png" width="50" height="50" style="position:fixed;left:800px;bottom:785px;z-index:999">
                </span>
                <div class="main-header__updates">Gold:@*@Model.Gold*@*</div>
                <span>
                    <img src="/OtherFiles/Pictures/Resources/Gold.png" width="50" height="50" style="position:fixed;left:1050px;bottom:785px;z-index:999">
                </span>
                <div class="main-header__updates">DarkMatter:@*@Model.StarsCredits*@*</div>
                <span>
                    <img src="/OtherFiles/Pictures/Resources/Darkmatter.png" width="50" height="50" style="position:fixed;left:1290px;bottom:785px;z-index:999">
                </span>

            </div>

            <hr color="#33D7FF">
            <div class="main-cards">
                @RenderBody()
            </div>
        </main>
        @*<footer class="footer">
            </footer>*@
    </div>

</body>
</html>
<script>
    //* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@*<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>*@

@RenderSection("Scripts", required: false)
